* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font, Arial, Helvetica, sans-serif);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;  
  min-height: 100vh;
  padding: 30px;
  background-image: linear-gradient(to right, rgb(215, 10, 92), rgb(241, 102, 150));
}